nav {
    overflow: hidden;
    background-color: #333;
}

    nav .a-link {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.subnav {
    float: left;
    overflow: hidden;
}

    .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    nav .a-link:hover, .subnav:hover .subnavbtn {
        background-color: red;
    }

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}

    .subnav-content .a-link {
        float: left;
        color: white;
        text-decoration: none;
    }

        .subnav-content .a-link:hover {
            background-color: #eee;
            color: black;
        }

.subnav:hover .subnav-content {
    display: block;
}
