@model EOY_WEBapp.Dto.LoginDto;


@{
    ViewData["Title"] = "data";
}

<link rel="stylesheet" href="~/css/styleIndex.css" />

<head class="topPanel">
    <title></title>
   
</head>
 <div>
     <img alt="logo" class="logo" src="~/Pictures/eoyLogo.png"/>
 </div>

   <body>
    
</body>


s