/* https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification */

*{
    margin: 0;
    padding: 0;
}

.container{
    padding: 10px 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 10px;
  white-space: nowrap;
  line-height: 60px;
  background-color: lightgray;
}
