/* https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification */

*{
    margin: 0;
    padding: 0;
}

nav {
    overflow: hidden;
    background-color: #333;
}

    nav .a-link {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.subnav {
    float: left;
    overflow: hidden;
}

    .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    nav a:hover, .subnav:hover .subnavbtn {
        background-color: red;
    }

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}

    .subnav-content a {
        float: left;
        color: white;
        text-decoration: none;
    }

        .subnav-content a:hover {
            background-color: #eee;
            color: black;
        }

.subnav:hover .subnav-content {
    display: block;
}

.container{
    padding: 10px 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 10px;
  white-space: nowrap;
  line-height: 60px;
  background-color: lightgray;
}
