/* https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification */

*{
    margin: 0;
    padding: 0;
}

 /*Doupravit footer ať to funguje normalně*/
.container{
    padding: 10px 30px;
    min-height: 74vh;
}

.footer {
    left: 0;
    right: 0;
    position: sticky;
    padding: 0 10px;
    line-height: 60px;
    background-color: lightgray;
}
