@model EOY_WEBapp.Models.LoginModel
@{
    Layout = null; // Negeneruje v layoutu
}

<!-- Login page má vlastní styl -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - EOY_WEBapp</title>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<body>
    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
    {
        <div class="container">
            <h1>Login</h1>
            <div class="form-item">
                <p>Přihlašovací jméno:</p>
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
            </div>
            <div class="form-item">
                <p>Heslo:</p>
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            </div>
            <button type="submit">Přihlásit</button>
        </div>
    }

    @if (ViewBag.LoginError != null)
    {
        <p class="text-danger">Došlo k chybě při přihlašování.</p>
    }
</body>
</html>