@model EOY_WEBapp.Models.LoginModel;


@{
    ViewData["Title"] = "Přihlášení";
}

<link rel="stylesheet" href="~/css/styleIndex.css" />

<head class="topPanel">
    <title></title>
   
</head>
 <div>
     <img alt="logo" class="logo" src="~/Pictures/eoyLogo.png"/>
 </div>

   <body>
    <form method="post" action="@Url.Action("Index", "LoginController")">
    <div class="centered-div">
        <div class="panelLogin">
            <div class="textbox_container">
                <ul>
                    <li class="no-bullet">
                        <dev class=" form-group" ">
                            @Html.TextBoxFor(m=>m.Username)
                        </dev>
                      
                </ul>
                <ul>
                    <dev class=" form-group"">
                        @Html.PasswordFor(m=>m.Password, new{ @class ="form-control"})
                    </dev>
                </ul>
                <ul>
                        <button> @Html.ActionLink("Přihlásit se","LoginAction")</button>
                </ul>
            </div>
        </div>
    </div>
 </form>
</body>


